services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    restart: always
    expose:
      - "5000"

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

